# dependencies
/node_modules

# Next.js
/.next
/out

# test output
/coverage
/playwright-report
/test-results

# production
/build

# local environment files
.env
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# operating systems and editors
.DS_Store
*.swp

# TypeScript
*.tsbuildinfo
next-env.d.ts
